body {
    margin: 0;
    background: #333333;
}

.container {
    overflow: hidden;
    white-space: nowrap;
}

.board {
    display: inline-block;
    width: 1542px;
}

.sidebar {
    display: inline-flex;
    background: red;
    width: 298px;
    justify-content: center;
    position: absolute;
    margin-top: -10.5px;
    top: 50%;
}

.sidebar * {
    width: 100%;
}

table {
    color: white;
    font-family: 'Seymour One', sans-serif;
    font-size: 24px;
    border-collapse: collapse;
    position: absolute;
    margin-top: -368px;
    margin-left: 80px;
    top: 50%;
}

td {
    background: #6A6A6A;
    border: 2px solid #303030;
    padding: 0;
    text-align: center;
}

.expert td {
    height: 44px;
    width: 44px;
}

td._mine {
    font-family: monospace;
    font-size: 30px;
    background: black;
}

td._flag {
    font-family: monospace;
    font-size: 30px;
    color: orange;
    border: 2px double orange;
}

td._0 {
    background: #454545;
}

td._1 {
    background: #59AFFE;
}

td._2 {
    background: #31DC65;
}

td._3 {
    background: #CA3B3B;
}

td._4 {
    background: #C15AE3;
}

td._5 {
    background: #E0CC1E;
}

td._6 {
    background: #019C9D;
}

td._7 {
    background: lightgray;
}

td._8 {
    background: lightpink;
}